  <nav class="navbar navbar-fixed-top navbar-expand-md navbar-dark bg-dark"> 
      <a class="navbar-brand" style="color: lightgrey;font-size: 50px;margin-left: 35%">Loan For CFL Tokens</a>
    </nav>
    <div class="row ">
    
     <div class="col-sm-3" style=" position: relative;overflow:auto;margin-top: 30px;border-radius: 10px;height:100% !important;">
      <div class="sidebar" ng-click="displayDivs(0)" ng-class="{'selected': $index==selectedIndex}">
        <label routerLink='profile' routerLinkActive='active'>Profile</label>
      </div>
      <div class="sidebar" ng-click="displayDivs(1)">
        <label routerLink='applyLoan' routerLinkActive='active'>Ask For Loan</label>
      </div>
      <div class="sidebar" ng-click="displayDivs(2)">
        <label routerLink='payLoan' routerLinkActive='active'>Pay Pending Loans</label>
      </div>
      <div class="sidebar" ng-click="displayDivs(3)">
        <label routerLink='loanEstimation' routerLinkActive='active'bel>Estimated Loan</label>
      </div>
    </div>
    <div class="col-sm-8" style="overflow:auto;margin-top: 30px;border-radius: 10px;min-height:100%">
       <router-outlet></router-outlet>
    </div>
  </div>
    